[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
Pillow = ">=10.2.0"

[requires]
python_version = "2.7"
